DB_HOST=mysql-1123ebf7-nhatnam171217-29a7.i.aivencloud.com
DB_PORT=23760
DB_USER=avnadmin
DB_PASSWORD=your_aiven_password_here
DB_NAME=hospital_report
DB_SSL=true
JWT_SECRET=hospital_report_secret_key_2026
PORT=3001
